@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200&display=swap');

body{
    font-family: 'Cairo';
    background-image: url('../img/earth-planet.jpg');
    background-size: cover;
    color: white;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    margin: 0px 0px 40px 0px;
}
#data{
    height: 40px;
    font-family: 'Cairo';
    font-size: 25px;
    background: rgba(246,246,246,0.4);
    color: #f6f6f6;
    border: none;
    border-radius: 15px;
    padding: 10px;
}
nav{
    position: absolute;
    transform: translate(-50%, -70%);
    left: 50%;
    top: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
nav h4{
        text-align: center;
}
#date{
    font-family: 'Cairo';
    font-size: 50px;
    background: rgba(246,246,246,0.4);
    color: #f6f6f6;
    border: none;
    border-radius: 15px;
    padding: 10px;
}
.info{
    display: flex;
}
#text{
    width: 50%;
    padding: 0px 30px 30px;
    text-align: justify;
}
#text h1, p{
    margin: 0px;
}
.photo{
    display: flex;
    justify-content: center;
}
#imagem{
    margin: 5px;
    max-height: 500px;
}
#video{
    margin: 5px;
}

footer{
        position: fixed;
        display: flex;
        justify-content: center;
        font-size: 12px;
        width: 100%;
        bottom: 0px;
}
footer a{
    text-decoration: none;
    text-decoration: none;
    color: white;
    cursor: pointer;
}
footer a:hover {
    text-decoration: underline;
    font-size: 13px;
}
.loading{
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    display: none;
    width: 5%;
}
.hidden{
    display: none !important;
}
@media(max-width:700px){
    body {
        background: url(../img/earth-planet_mobile.jpg);
        background-position-x: center;
    }
    header{
        margin: 0px;
        font-size: 10px;
        flex-direction: column;
    }
    #data{
    font-size: 20px;
    background: rgba(246,246,246,0.8);
    color: #000;
    }
    nav{
    position: inherit;
    transform: none;
    left: 0px;
    top: 0px;
    margin-top: 10%;
    }
    #date{
    font-size: 25px;
    background: rgba(246,246,246,0.8);
    color: #000;
    }
    .info{
        flex-direction: column;
    }
    #text{
        width:85%
    }
    #imagem{
        width:100%
    }
    footer{
        background: #000;
    }
}